
*{
	margin: 0;
	padding: 0;
}
nav{
	position: fixed;

}
.my-form{
	width: 40%;
	height: auto;
	margin-left: 20%;
/*	border: .2px solid blue;*/
	border-radius: 30px;
	padding: 20px;
	background-color: #ffd;
}
.home-page{
	margin-left: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.home-page-1{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.card{
	width: 96%;
	height: auto;
}
footer .footer-one ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .footer-one{
	display: grid;
	grid-template-columns: 2fr 3fr;
}
svg:hover{
	font-size: 50px;
	color: blue;
}
.body-container{
	margin-top: 50px;
	padding-top: 50px;
}
/*
Css for Sign up page and login [page]
*/
.restricted{
	width: 50%;
	margin-left: 10%;
}

.news{
	width: 100%;
	height: auto;
	margin: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.news form{
	background-color: #ffff21;
	margin-right: 30px;
	border: 2px solid red;
	border-radius: 20px;
}
